.header a {
  border: 0;
  text-decoration: none;
}

.midHeader img {
  border: 0;
}

.headerTitle {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 0 0 0.5em;
  padding: 0.5em;
}

.headerTitle a {
  border: 0;
  text-decoration: none;
}

.headerSubtitle {
  font-size: 0.6em;
  font-weight: normal;
  margin-left: 1em;
}

#side-bar {
  width: 100%;
  clear: both;
  border: 0;
  margin: 0;
  padding: 0;
}

#side-bar ul {
  margin: 0;
  padding: 0.3em;
  list-style-type: none;
  list-style-image: none;
  border: 0;
}

#side-bar li {
  display: inline;
  line-height: 1.6em;
  white-space: nowrap;
}

#side-bar ul li a {
  margin: 0;
  padding: 0.1em 1ex;
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  border: 0;
}

#side-bar ul li a:hover {
  text-decoration: none;
}

#main {
  max-width: 70em;
  margin: 0 auto 0 2em;
  padding: 1em 3em 2em 1em;
  border: 0;
}

#main a {
  text-decoration: none;
}

#main a:hover {
  text-decoration: underline;
}

#main ul {
  list-style-type: square;
}

#footer {
  font-size: 91%;
  padding: 2em;
  clear: both;
}

#footer .left {
  text-align: left;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

abbr,
acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}

blockquote {
  border-left: 1px solid #333;
  font-style: italic;
  padding: 1em;
}

hr {
  border-width: 0 0 0.1em 0;
}

code {
  font-size: 0.9em;
  padding: 0.5em;
  white-space: pre-wrap;
}

pre {
  border: 1px solid #ccc;
  padding: 0.5em;
  overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000 !important;
    color: white !important;
  }
}

body {
  margin: 1em auto;
  font-size: 0.9em;
  max-width: 40em;
  padding: 0 0.62em 3.24em;
  font: 1.2em/1.62 sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.self-description {
  font-size: 0.9em;
}

.quote {
  font-size: 0.8em;
}

@media print {
  body {
    max-width: none;
  }
}

.container {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  overflow: hidden;
}

.profile-data {
  margin-bottom: 0;
  margin-left: 20px;
}
